.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.content {
  font-size: 1.1rem;
  line-height: 1.8;
}

h1, h2, h3 {
  letter-spacing: -0.02em;
}

.post-title {
  font-weight: 600;
}
